/* super-style.less */

/* example of "variable" declaration, they are labels actually */
@baseColor: #B37C2E;

.clearColor{
  background-color: lighten(@baseColor, 30%);
}

html{
  font-family: Helvetica, Arial, sans-serif;
  background-color: lighten(@baseColor, 20%);
}

header {
  /* example of mixin's usage */
  .clearColor;
  color: @baseColor;
}

input,select{
  .clearColor;
}

/* example of nested styles */
.commands{
    a {
      display: inline-block;
      padding: 5px;
      background-color: lighten(@baseColor, 30%);
      border: solid 1px;
      border-color: lighten(@baseColor, 30%) darken(@baseColor, 30%) darken(@baseColor, 30%) lighten(@baseColor, 30%);
      text-decoration: none;
      color: darken(@baseColor, 40%);
    }
}